*{
    margin:0;
    font-family: 'Futura Std';
    font-weight: normal;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    line-height: 1.2;
    z-index: 9;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {
    overflow: auto; overflow-y: auto;
    margin: 0px;
}
@keyframes blink {
    0% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0.2); }
    50% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0); }
    100% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0.2); }
}
@-webkit-keyframes blink {
    0% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0.2); }
    50% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0); }
    100% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0.2); }
}
@-moz-keyframes blink {
    0% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0.2); }
    50% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0); }
    100% { box-shadow:0px 0px 16px 8px rgba(0,0,0,0.2); }
}
@keyframes btn-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-webkit-keyframes btn-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-moz-keyframes btn-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
b{font-weight: bold;}
br{line-height: 1;}
.btn-animation {
    -webkit-animation: btn-animation 1.2s linear infinite;
    -moz-animation: btn-animation 1.2s linear infinite;
    -ms-animation: btn-animation 1.2s linear infinite;
    -o-animation: btn-animation 1.2s linear infinite;
    animation: btn-animation 1.2s linear infinite;
}
.blink {
    -webkit-animation: blink 2.0s linear infinite;
    -moz-animation: blink 2.0s linear infinite;
    -ms-animation: blink 2.0s linear infinite;
    -o-animation: blink 2.0s linear infinite;
    animation: blink 2.0s linear infinite;
}
button {
    -webkit-appearance: none;
    border:0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
}
/* ############################################################## */
.visual-section{
    position: absolute;
    overflow: hidden;
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    background-size: cover;
}
.inner-section{width:100%;height:100%;}
#screen1{
    background-image: url("../images/screen1full.png");
}
#screen2{
    background-image: url("../images/screen2full.png");
}
.screenNavBtn {
    position: absolute;
    right: 0px;
    bottom: 246px;
    width: 260px;
    height: 130px;
}
#THFooter {
    position: absolute;
    width: 1080px;
    height: 34px;
    top: 1800px;
}
#THFooter img {
    position: relative;
    margin: 0 auto;
    width: 587px;
    height: 34px;
    display: block;
}
#resetHeader {
    position: absolute;
    width: 1080px;
    height: 70px;
}
#resetHeader .resetBtn {
    position: relative;
    width: 150px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
}
/* .mainTextPanel {
    position: relative;
    margin: 0 auto;
    width: 820px;
    height: 1597px;
    bottom: -323px;
    display: block;
    background-color: rgba(210,7,42,0.55);
}
.mainTextPanel span {
    font-family: 'Myriad Pro';
    font-weight: normal;
    text-align: center;
} */
#scanningPanel {
    background-image: url("../images/scanningPanel.png");
    display: none;
}
#scanningPanel .removeGlasses {
    position: absolute;
    width: 1080px;
    height: 220px;
    top: 220px;
    color: rgba(255,255,255,0.9);
    font-family: 'Futura Std';
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    display: none;
}
#genderSelectionPanel {
    display: none;
}
#genderSelectionPanel .maleButton {
    position: absolute;
    top: 515px;
    left: 0px;
    width: 500px;
    height: 500px;
    background-image: url("../images/maleLogo.png");
    background-size: cover;
}
#genderSelectionPanel .femaleButton {
    position: absolute;
    top: 515px;
    right: 0px;
    width: 500px;
    height: 500px;
    background-image: url("../images/femaleLogo.png");
    background-size: cover;
}
#recommendedGlassesPanel {
    background-image: url("../images/recommendedGlassesPanel.png");
    display: none;
}
.roundFemale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}
.roundMale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 255);
    margin: 0 auto;
}
.squaredFemale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 255, 0);
    margin: 0 auto;
}
.squaredMale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 255, 255);
    margin: 0 auto;
}
.ovalFemale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
}
.ovalMale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 255);
    margin: 0 auto;
}
.triangularFemale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 0);
    margin: 0 auto;
}
.triangularMale {
    position: relative;
    top: 1148px;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.tellMeButton {
    position: absolute;
    right: 0;
    bottom: 150px;
    width: 350px;
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    padding-right: 135px;
    font-size: 15px;
    background-color: rgba(59,10,29,0.7);
    color: white;
}
#missPanel {
    background-image: url("../images/missPanel.png");
    display: none;
}
#missPanel .screenNavBtn {
    background-image: url("../images/screenNavBtn.png");
}
#missPanel .retryBtn {
    position: relative;
    top: 1600px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
}
#hitPanel {
    background-image: url("../images/hitPanel.png");
    display: none;
}
#hitPanel .screenNavBtn, #filterPanel .screenNavBtn {
    bottom: 244px;
    background-image: url("../images/screenNavBtn.png");
}
#shutter {
    background-image: url("../images/shutter.png");
}
#filterPanel {
    background-image: url("../images/filterPanel.png");
    display: none;
}
#filterPanel .filterPanelUpperHalf {
    background-image: url("../images/filterPanelUpperHalf.png");
}
#filterPanel .takePicBtn {
    position: relative;
    top: 1495px;
    width: 134px;
    height: 134px;
    background-image: url("../images/takePicBtn.png");
    margin: 0 auto;
}
#filterPanel .deletePicBtn {
    position: absolute;
    top: 1150px;
    left: 980px;
    width: 70px;
    height: 70px;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
    display: none;
}
#mailSection {
    background-image: url("../images/mailSectionBkg.png");
}
#screenshotContainerMail img {
    position: absolute;
    width: 288px;
    top: 557px;
    left: 396px;
}