*{
    margin:0;
    font-family: 'Futura Std';
    font-weight: normal;
    padding: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    line-height: 1.2;
    z-index: 9;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
*:focus {
    outline: none;
}
a {color: #eee; text-decoration: none}
a:hover {color: blue;}
body {
    overflow: auto; overflow-y: auto;
    margin: 0px;
}
@keyframes blink {
    0% { opacity: 1 }
    50% { opacity:0.3 }
    100% { opacity: 1 }
}
@-webkit-keyframes blink {
    0% { opacity: 1 }
    50% { opacity:0.3 }
    100% { opacity: 1 }
}
@-moz-keyframes blink {
    0% { opacity: 1 }
    50% { opacity:0.3 }
    100% { opacity: 1 }
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes btn-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-webkit-keyframes btn-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@-moz-keyframes btn-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
@keyframes pendulum {
    0% { transform: translateY(-460px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
    25%{box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 1);}
    50% { transform: translateY(400px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
    75%{box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 1);}
    100% { transform: translateY(-460px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
}
@-webkit-keyframes pendulum {
    0% { transform: translateY(-460px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
    25%{box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 1);}
    50% { transform: translateY(400px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
    75%{box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 1);}
    100% { transform: translateY(-460px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
}
@-moz-keyframes pendulum {
    0% { transform: translateY(-460px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
    25%{box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 1);}
    50% { transform: translateY(400px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
    75%{box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 1);}
    100% { transform: translateY(-460px); box-shadow: 0 0px 90px 10px rgba(19, 39, 122, 0.4);}
}
b {font-weight: bold; }
br { line-height: 1; }
.btn-animation {
    -webkit-animation: btn-animation 1.2s linear infinite;
    -moz-animation: btn-animation 1.2s linear infinite;
    -ms-animation: btn-animation 1.2s linear infinite;
    -o-animation: btn-animation 1.2s linear infinite;
    animation: btn-animation 1.2s linear infinite;
}
.blink {
    -webkit-animation: blink 2.0s linear infinite;
    -moz-animation: blink 2.0s linear infinite;
    -ms-animation: blink 2.0s linear infinite;
    -o-animation: blink 2.0s linear infinite;
    animation: blink 2.0s linear infinite;
}
.spin {
    -webkit-animation: spin 2.0s linear infinite;
    -moz-animation: spin 2.0s linear infinite;
    -ms-animation: spin 2.0s linear infinite;
    -o-animation: spin 2.0s linear infinite;
    animation: spin 2.0s linear infinite;
}
.pendulum {
    -webkit-animation: pendulum 4.0s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    -moz-animation: pendulum 4.0s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    -ms-animation: pendulum 4.0s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    -o-animation: pendulum 4.0s cubic-bezier(0.6, 0, 0.4, 1) infinite;
    animation: pendulum 4.0s cubic-bezier(0.6, 0, 0.4, 1) infinite;
}
button {
    -webkit-appearance: none;
    border:0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
}
/* ############################################################## */
.visual-section {
    position: absolute;
    overflow: hidden;
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    background-size: cover;
}
.inner-section{width:100%;height:100%;}
#screen1 {
    background-image: url("../images/screen1full.png");
}
#screen2 {
    background-image: url("../images/screen2full.png");
}
#screen2.modified {
    background-image: url("../images/screen2bkg.png");
}
.screenNavBtn {
    position: absolute;
    right: 0px;
    bottom: 246px;
    width: 260px;
    height: 130px;
    opacity: 1;
    background-image: url("../images/screenNavBtn.png");
}
#THFooter {
    position: absolute;
    width: 1080px;
    height: 34px;
    top: 1800px;
}
#THFooter img {
    position: relative;
    margin: 0 auto;
    width: 587px;
    height: 34px;
    display: block;
}
#resetHeader {
    position: relative;
    width: 150px;
    height: 70px;
    margin: 0 auto;
}
#resetHeader .resetBtn {
    position: relative;
    width: 150px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
}
/* .mainTextPanel {
    position: relative;
    margin: 0 auto;
    width: 820px;
    height: 1597px;
    bottom: -323px;
    display: block;
    background-color: rgba(210,7,42,0.55);
}
.mainTextPanel span {
    font-family: 'Myriad Pro';
    font-weight: normal;
    text-align: center;
} */
#scanningPanel {
    background-image: url("../images/scanningPanel.png");
    display: none;
}
.startScanBtn {
    position: absolute;
    top: 1495px;
    left: 471px;
    width: 134px;
    height: 134px;
    background-image: url("../images/loadingImage.png");
    background-size: cover;
    margin: 0 auto;
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
    display: none;
}
.startScanBtn.modified {
    top: 1465px;
    left: 875px;
    display: block;
}
.scanMask {
    position: absolute;
    top: 416px;
    left: 117px;
    width: 843px;
    height: 854px;
    background-image: url("../images/scanMask.png");
    background-size: contain;
    background-position: center;
    display: none;
}
.scanLine {
    position: relative;;
    top: 865px;
    width: 820px;
    height: 5px;
    margin: 0 auto;
    background-color: rgba(19, 39, 122, 0.7);    
    display: none;
}
#screen2 p {
    position: absolute;
    top: 1465px;
    left: 875px;
    width: 134px;
    height: 134px;
    color: white;
    line-height: 134px;
    text-align: center;
}
#panelSection p {
    position: absolute;
    top: 1495px;
    left: 471px;
    width: 134px;
    height: 134px;
    color: white;
    line-height: 134px;
    text-align: center;
    display: none;
}
.removeGlasses {
    position: absolute;
    width: 813px;
    height: 376px;
    top: 0px;
    margin-left: 133px;
    margin-right: 133px;
    background-color: rgba(210,6,42,0.7);
    color: rgba(255,255,255,0.9);
    line-height: 125px;
    font-family: 'Futura Std';
    font-weight: bold;
    font-size: 95px;
    text-align: center;
    display: none;
}
#genderSelectionPanel {
    position: absolute;
    width: 1080px;
    height: 1920px;
    background-image: url("../images/genderSelectionPanel.png");
    display: none;
}
#genderSelectionPanel .femaleButton {
    position: absolute;
    top: 1265px;
    left: 0px;
    width: 519px;
    height: 182px;
    background-size: cover;
}
#genderSelectionPanel .maleButton {
    position: absolute;
    top: 1265px;
    right: 0px;
    width: 519px;
    height: 182px;
    background-size: cover;
}
#recommendedGlassesPanel {
    background-image: url("../images/recommendedGlassesPanel.png");
    display: none;
}
.roundFemale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/round_female.jpg");
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}
.roundMale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/round_male.jpg");
    background-color: rgb(0, 0, 255);
    margin: 0 auto;
}
.squaredFemale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/squared_female.jpg");
    background-color: rgb(0, 255, 0);
    margin: 0 auto;
}
.squaredMale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/squared_male.jpg");
    background-color: rgb(0, 255, 255);
    margin: 0 auto;
}
.ovalFemale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
}
.ovalMale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-color: rgb(255, 0, 255);
    margin: 0 auto;
}
.triangularFemale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/triangular_female.jpg");
    background-color: rgb(255, 255, 0);
    margin: 0 auto;
}
.triangularMale {
    position: relative;
    top: 1148px;
    width: 410px;
    height: 410px;
    background-size: contain;
    background-image: url("../images/triangular_male.jpg");
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.tellMeButton {
    position: absolute;
    right: 0;
    bottom: 150px;
    width: 790px;
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    padding-right: 290px;
    font-size: 15px;
    background-color: rgba(59,10,29,0.7);
    color: white;
}
#missPanel {
    background-image: url("../images/missPanel.png");
    display: none;
}
#missPanel .retryBtn {
    position: relative;
    top: 1660px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
}
#hitPanel {
    background-image: url("../images/hitPanel.png");
    display: none;
}
#hitPanel .screenNavBtn, #filterPanel .screenNavBtn {
    bottom: 244px;
}
#screenshotContainerMain img, #screenshotContainerMain canvas{
    position: absolute;
}
#shutter {
    background-image: url("../images/shutter.png");
}
#filterPanel {
    display: none;
}
#filterPanel .filterPanelUpperHalf {
    width: 1080px;
    height: 1920px;
    background-image: url("../images/filterPanelUpperHalf.png");
}
#filterPanel .filterPanelLowerHalf {
    width: 1080px;
    height: 1920px;
    background-image: url("../images/filterPanelLowerHalf.png");
    display: none;
}
#filterPanel .takePicBtn {
    position: absolute;
    top: 1495px;
    left: 471px;
    width: 134px;
    height: 134px;
    background-image: url("../images/takePicBtn.png");
    display: none;
}
#filterPanel .cameraLogo {
    position: absolute;
    top: 1495px;
    left: 471px;
    width: 134px;
    height: 134px;
    background-image: url("../images/cameraLogo.png");
    display: none;
}
#filterPanel .loading {
    position: absolute;
    top: 1200px;
    left: 400px;
    width: 276px;
    height: 276px;
    background-image: url("../images/loadingImage.png");
    background-size: cover;
    display: none;
}
.loadingText {
    position: absolute;
    top: 1200px;
    left: 400px;
    width: 276px;
    height: 276px;
    color: white;
    text-align: center;
    line-height: 276px;
    font-size: 32px;
    display: none;
}
#filterPanel .triangle {
    position: absolute;
    top: 1525px;
    left: 543px;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-image: url("../images/triangolo.png");
    display: none;
}
.triangle .triangleText {
    position: absolute;
    width: 470px;
    top: 40px;
    right: -215px;
    color: white;
    text-align: center;
    font-size: 30px;
}
#filterPanel .deletePicBtn {
    position: absolute;
    top: 1150px;
    left: 980px;
    width: 70px;
    height: 70px;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
    display: none;
}
#filterPanel .filterCarousel {
    position: absolute;
    width: 756px;
    height: 352px;
    left: 190px;
    top: 1127px;
    margin-top: 33px;
    display: none;
}
.filter img, .filter canvas {
    width: 200px;
}
#mailSection {
    background-image: url("../images/mailSectionBkg.png");
}
#screenshotContainerMail {
    position: absolute;
    width: 288px;
    top: 557px;
    left: 396px;
    height: 510px;
}
#screenshotContainerMail img, #screenshotContainerMail canvas {
    position: absolute;
    width: 288px;
}
#mailTextBox {
    position: absolute;
    width: 640px;
    height: 68px;
    top: 1242px;
    left: 220px;
    line-height: 68px;
    font-size: 42px;
    border-radius: 5px;
    border-color: transparent;
    background-color: transparent;
    color: white;
}
#mailSection p {
    position: absolute;
    width: 100%;
    top: 1335px;
    text-align: center;
    color: rgb(19, 39, 122);
    font-size: 20px;
}
#mailSection .sendMailBtn {
    position: relative;
    top: 1550px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
}
.skipBtn {
    position: relative;
    top: 1600px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
}
.tryGlasses {
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: rgb(19, 39, 122);
    color: white;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    border-width: 5px;
    border-color: white;
}